
<div class="mt-4">
    <div class="row">
        {{#each blog}}
        <div class="col-sm-6 col-lg-4  mt-5  ">
            <div class="card card-course-item">
                <a href="/content/{{this.slug}}">
                    <img class="card-img-top" src="{{this.img}}" alt="{{this.title}}">
                </a>
                <div class="card-body">
                    <a style="text-decoration: none" href="/content/{{this.slug}}">
                        <h5 class="card-title">{{this.title}}</h5>
                    </a>
                    <p class="card-text">{{this.nd}}</p>
                    <a style="text-decoration: none" href="/content/{{this.slug}}" class="btn btn-primary">Đọc Ngay</a>
                </div>
            </div>
        </div>
        {{/each}}
        
    </div>
</div>